*{
    margin: 0;
    padding: 0;
}
 
body {
    margin: 0px 150px 0px 150px;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.1);
}
    
.content {
    font-family: Open Sans;
}
 
header {
    margin: 20px 40px 20px 40px;
}

/*MENU*/
.menu {
    padding: 20px 40px 20px 0px;
}

.menu ul {
    background: linear-gradient(0deg, #696767 0%, #5e5e5e 100%);
    font-size: 0;
    line-height: 0;
}
 
.menu li {
    display: inline-block;
    font-size: 14px;
    width: 130px;
    line-height: 45px;
    letter-spacing: normal;
    text-align: center;
}
 
.menu li a{
    color: white;
    text-decoration: none;
}

.menu li:hover {
    background: linear-gradient(0deg, #444343 0%, #5e5e5e 100%);
    border-right: 1px solid #959595;
    border-left: 1px solid #959595;
}

 /*SIDEBAR*/
.items li a,
footer li a {
    text-decoration: none;
}

.items ul {
    list-style: none;
}

.items {
    float: left;
    width: 240px;
    font-size: 14px;
    border: 1px solid #eae8e8;
    margin: 0px 0px 0px 40px;
}

.items a{
    display: block;
    border-bottom: 1px solid #eae8e8;
    color: black;
    width: 225px;
    height: 30px;
    padding: 10px 2px 2px 15px;
    text-align: left;
}

.items a:hover{
    background-color: #f5f5f5;
}

/*IMAGE+TEXT*/
.image {
    float: right;
    width: 52%;
    border: 1px solid #eae8e8;
    margin: 0px 78px 10px 10px;
    text-align: center;
}

.text {
    clear: both;
}

p {
    padding: 30px 75px 30px 510px;
    text-align: justify;
    font-family: OpenSans;
}

/*FOOTER*/
footer li {
    display: inline-block;
    font-size: 12px;
    width: 130px;
    line-height: 45px;
    letter-spacing: normal;
    text-align: center;
}

footer a{
        color: #2c2b2b;
}

footer {
    padding: 20px 65px 20px 40px; 
}

footer ul {
    font-size: 0;
    line-height: 0;
    background: linear-gradient(0deg, #e2e2e2 0%, #ddd8d8 100%);
}
    
footer a:hover{
    border-bottom: 1px solid #313030;
}

.copy {
    width: 565px;
    text-align: right;
}